h2 {
	font-size: medium;
}

.container {
	@apply flex flex-col items-center justify-center bg-gray-800
	xl:w-[24vw] xl:h-[24vh]
	md:w-[40vw] md:h-[24vh]
	sm:w-[80vw] sm:h-[24vh]
	w-[80vw] h-[20vh]
	m-auto rounded-3xl;
}

#googleBtn {
	color-scheme: light;
}
