button {
	font-weight: normal;
}

.container {
	margin-top: 2vh;
	width: 70vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2vw;
}

.card {
	width: 25%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}
