<div *ngIf="error$ | async as error">
	<p>Error: {{ error }}</p>
</div>

<div
	class=" w-5/6 flex flex-row justify-center align-middle m-auto flex-wrap gap-4"
	*ngIf="allCategories$ | async as categories">
	<div *ngFor="let category of categories ; let i=index">
		<button class="btn btn-outline btn-accent " *ngIf="i<20"
			(click)="loadProducts(category.id)">{{category.name}}</button>
	</div>

	<div class="container" *ngIf="selectedCategory !== undefined">
		<div class="card card-bordered bg-base-200"
			*ngFor="let product of selectedProducts">
			<figure><img [src]="product.images[0]" [alt]="product.name" /></figure>
			<div class="card-body">
				<h2 class="card-title">{{product.title}}</h2>
				<p class="price">{{product.price | currency:'EUR'}}</p>
				<p>{{ product.description }}</p>
				<div class="badge bg-gray-800">{{ product.category.name }}</div>
			</div>
			<div class="card-actions justify-center">
				<button class="btn btn-primary" (click)="addToCart(product)">Add to
					cart</button>
			</div>
		</div>
	</div>
</div>
