 <h1 class="text-center">Cart</h1>

<div class="container" *ngIf="allItems$ | async as cartItems">
	<p class="text-center text-4xl">Total: {{totalPrice | currency:'EUR'}}</p>

	<div class="button-container">
		<button class="btn btn-warning"
			[disabled]="cartItems.length < 1">Purchase</button>
		<button class="btn bg-gray-800"
			[disabled]="cartItems.length < 1"
			(click)="emptyCart()">Empty cart</button>
	</div>
	<div class="card bg-base-200 shadow-xl"
		*ngFor="let item of cartItems">
		<figure>
			<img [src]="item.product.images[0]" [alt]="item.product.name">
		</figure>
		<div class="card-body">
			<h2 class="card-title">{{item.product.title}}</h2>
			<p class="price">{{item.product.price | currency:'EUR'}}</p>
			<div class="quantity-box">
				<button (click)="addAmount(item)" class="btn btn-primary btn-sm">+</button>
				<p class="card-text text-center max-w-fit">{{item.quantity}}</p>
				<button (click)="reduceAmount(item)"
					class="btn btn-primary btn-sm">-</button>
			</div>
			<div class="badge bg-gray-800">{{ item.product.category.name }}</div>
		</div>
	</div>

</div>
