<div class="hero h-80 bg-gray-800">
	<div class="hero-content text-center h-fit w-screen">
		<div class="max-w-screen-2xl">
			<h1 class="font-bold" routerLink="/products">Platzi</h1>
			<p class="py-6">For your daily necessities.</p>

			<div class="google-container">
				<div id="g_id_onload"
					data-client_id="109682536093-2dfgc3ta5nokvhn5cmtf5mqn06ohftee.apps.googleusercontent.com"
					data-context="signin"
					data-ux_mode="popup"
					data-callback="handleOauthResponse"
					data-auto_select="false"
					data-itp_support="true">
				</div>
				<div class="g_id_signin"
					data-type="standard"
					data-shape="rectangular"
					data-theme="outline"
					data-text="signin_with"
					data-size="large"
					data-logo_alignment="left">
				</div>
			</div>

			<div class="navbar">
				<a class="btn btn-ghost text-xl" routerLink="/products">Products</a>
				<a class="btn btn-ghost text-xl" routerLink="/categories">Categories</a>
				<a class="btn btn-ghost text-xl" routerLink="/cart">Cart</a>
				<a class="btn btn-ghost text-xl" routerLink="/login">Log In</a>
				<a class="btn btn-ghost text-xl" (click)="signOut()">Log out</a>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
