h1 {
	font-size: 5rem;
}

.hero {
	margin-bottom: 5vh;
}

.profile-container {
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 0.5vw;
	padding-right: 1vw;
	height: 72px;
	align-items: center;
	background-color: #0f172a;
}
