<div *ngIf="error$ | async as error">
	<p>Error: {{ error }}</p>
</div>

<div class="container" *ngIf="allProducts$ | async as products">
	<div class="card card-bordered card-compact bg-base-200"
		*ngFor="let product of products">
		<figure><img [src]="product.images[0]" [alt]="product.name" /></figure>
		<div class="card-body">
			<h2 class="card-title">{{product.title}}</h2>
			<p class="price">{{product.price | currency:'EUR'}}</p>
			<p>{{ product.description }}</p>
			<div class="badge badge-secondary">{{ product.category.name }}</div>
		</div>
		<div class="card-actions justify-center">
			<button class="btn btn-primary" (click)="addToCart(product)">Add to
				cart</button>
		</div>
	</div>
</div>
